@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model PagedList.IPagedList<TrungTamTiengAnh.Models.Entities.HocSinh>
@using PagedList.Mvc;

<h2>Danh sách học sinh</h2>
<div class="panel-body">
    @using (Html.BeginForm("Search", "HocSinh"))
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <a type="button" class="btn btn-primary" href="/HocSinh/ThemHocSinh">Thêm học sinh</a>
                </div>
                <div class="col-md-3">
                    <input type="text" name="searchString" placeholder="Tìm kiếm"/>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success"> Tìm kiếm</button>
                </div>
            </div>

        </div>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Họ và tên")
        </th>
        <th>
            @Html.DisplayName("Ngày sinh")
        </th>
        <th>
            @Html.DisplayName("Giới tính")
        </th>
        <th>
            @Html.DisplayName("Địa chỉ")
        </th>
        <th>
            @Html.DisplayName("Phụ huynh học sinh")
        </th>
        <th>
            @Html.DisplayName("Số liên lạc") 
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/HocSinh/HoaDon?id=@item.HocSinhID">@Html.DisplayFor(modelItem => item.TenHocSinh)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuHuynh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.ActionLink("Sửa", "SuaHocSinh", new { id = item.HocSinhID }) |

                @Html.ActionLink("Xóa", "XoaHocSinh", new { id = item.HocSinhID }, new { onclick = "return ConfirmationDialog()" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("QLHocSinh", new { page, @searchString = @ViewBag.SearchString }))