@model TrungTamTiengAnh.Models.Entities.TaiKhoan
@{
    ViewBag.Title = "Thêm tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm mới phòng học</h2>
@using (Html.BeginForm("AddAcc", "TaiKhoan"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Điền thông tin</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.Label("UserName")
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Html.Label("PassWord")
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "QLTaiKhoan")
</div>
