@model IEnumerable<TrungTamTiengAnh.Models.Entities.TinTuc>

@{
    ViewBag.Title = "QLTinTuc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý tin tức</h2>
<div class="panel-body">
    @using (Html.BeginForm("QLTinTuc", "TinTuc", FormMethod.Get))
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4">

                    <a type="button" class="btn btn-primary" href="/TinTuc/ThemTinTuc">Thêm tin tức</a>
                </div>
                <div class="col-md-3">
                    <input type="text" value="@ViewBag.SearchString " name="searchString" placeholder="Tìm kiếm" />
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success"> Tìm kiếm</button>
                </div>
            </div>

        </div>
    }
</div>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>


               @* @Html.ActionLink("Sửa", "SuaTinTuc", new { id = item.TinTucID }) |
    @Html.ActionLink("Xóa", "XoaTinTuc", new { id = item.TinTucID }, new { onclick = "return ConfirmationDialog()" })*@
            </td>
        </tr>
    }

</table>
